*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  font-family: "ubuntu", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-content {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 700;
}

.input-wrapper {
  margin-top: 100px;
  display: inline-block;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  border: 2px solid slategrey;
  padding: 5px 10px;
  background-color: #fff;
}

.input-wrapper input {
  border: none;
}

.input-wrapper input:focus {
  outline: none;
}

.button-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
  right: 20px;
}

.button-wrapper button {
  border-radius: 20px;
  border: 2px solid slategrey;
  background-color: #1f81f7;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 10px;
  cursor: pointer;
  color: white;
  width: 100px;
}

.button-wrapper button:hover {
  filter: brightness(125%);
}

.loading-message {
  margin-top: 10px;
  text-align: center;
  color: whitesmoke;
}

.display-info {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 20px;
}
