*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  font-family: "Jam Grotesque", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-content {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 700;
}

.input-wrapper {
  margin-top: 80px;
  display: inline-block;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  border: 2px solid slategrey;
  padding: 5px 10px;
  background-color: #fff;
}

.input-wrapper input {
  border: none;
  text-align: center;
  font-size: 16px;
}

.input-wrapper input:focus {
  outline: none;
}

.button-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
  right: 20px;
}

.button-wrapper button {
  border-radius: 20px;
  border: 2px solid slategrey;
  background-color: #1f81f7;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  color: white;
  width: 100px;
}

.button-wrapper button:hover {
  filter: brightness(125%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-message {
  margin-top: 10px;
  text-align: center;
  color: #d1d8e0;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.error-message {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  color: #eb2f06;
  text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.42);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

.display-info {
  max-width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #f1f2f6;
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.others-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 18px;
  letter-spacing: normal;
  word-spacing: normal;
}

.display-info h1 {
  padding-top: 5px;
}

.display-info h3 {
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 10px;
}
